.intro {
  text-decoration: underline;
}
l{
	font-weight: bold;
}
k{
	font-weight: bold;

}
o{
	text-decoration: underline;
}
w{
	font-weight: bold;

}
m{
	text-decoration: underline;
}
pq{
	font-weight: bold;

}
pqu{
	text-decoration: underline;
}
ll{
	font-weight: bold;

}
ii{
	text-decoration: underline;
}
	